<div class="conainter">
    <h2>Nombre y apellido</h2>
    <div class="row">
        <div class="col">
            Descripción
        </div>
        <div class="col">
            <figure>
                <img src="" alt="">
            </figure>
        </div>
    </div>
    <div class="row">
        <h3>Citas</h3>
        <p>Selccionar cita</p>
    </div>
</div>