<div class="hero-image">
  <div class="hero-text">
    <h1>Clínica del Sol</h1>
    <p>Atención Médica Profesional y Cuidado Personalizado</p>
    <div>
      <a href="#lista-doctores" class="btn btn-warning">Doctores</a>
      <a href="#about" class="btn btn-primary">Ver más</a>
    </div>
  </div>
</div>