<form
    action="/images/{{data._id}}"
    method="POST"
    class="fade-in mb-5 mt-5 needs-validation"
    novalidate
    enctype="multipart/form-data"
>
    <div class="row">
    <div class="col-md-6">
        <fieldset>
        <legend>Editar foto de perfil</legend>
        <div class="mb-3 p-2 mt-3">
            <label for="image" class="form-label">Subir imagen:</label>
            <input
            type="file"
            class="form-control"
            name="image"
            accept="image/*"
            id="image"
            required
            />
            <div id="passwordHelpBlock" class="form-text">
            Las extensiónes validas son: jpg jpeg y png.
            </div>
            <div class="invalid-feedback">
            Selecciona una imagen.
            </div>
            <input type="hidden" name="id" value="{{data._id}}">
        </div>
        </fieldset>
    </div>
    <div class="col-md-6 image-update">
        {{#if data.image}}
        <img
            src={{data.image}}
            alt="avatar"
            class="rounded-circle img-profile mt-2"
        />
        {{else}}
        <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
            alt="avatar"
            class="rounded-circle img-profile"
        />
        {{/if}}
    </div>
    </div>
    <div class="row mt-3">
    <div class="col-md-4">
        <button type="reset" class="btn btn-warning  mb-1 w-100">Resetear</button>
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary mb-1 w-100">Actualizar</button>
    </div>
    </div>
</form>