<nav class="navbar navbar-expand-lg fixed-top" data-bs-theme="dark" style="background-color: #1c2331;">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="/" style="">
        <img src="/img/logo.png" alt="Logo clínica del sol">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav navbar-custom ms-auto"> 
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        {{#isEqual user.role 'DOCTOR_ROLE'}}
          <li class="nav-item">
            <a class="nav-link" href="/doctor/profile">Mi perfil</a>
          </li>
        {{/isEqual}}
        
        {{#isEqual user.role 'USER_ROLE'}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Mi perfil</a>
          </li>
        {{/isEqual}}

        {{#isEqual user.role 'ADMIN_ROLE'}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administración
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin">Dashboard</a></li>
              <li><a class="dropdown-item" href="/doctor">Doctores</a></li>
              <li><a class="dropdown-item" href="/user">Usuarios</a></li>
              <li><a class="dropdown-item" href="/appointment">Citas</a></li>
            </ul>
          </li>
        {{/isEqual}}

          <li class="nav-item ">
            <a class="nav-link " href="/auth/logout" >Cerrar Sesión</a>
          </li>
          
      </ul>
    </div>
  </div>
</nav>