<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="mr-auto w-100">
      <a class="navbar-brand" href="/">Medical Digitalers</a>

    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav navbar-custom"> 
        <li class="nav-item">
          <a class="nav-link active" href="/">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        {{#isEqual user.role 'USER_ROLE'}}
          <li class="nav-item">
            <a class="nav-link" href="/user/profile">Mi perfil</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link " href="/auth/logout" >Cerrar Sesión</a>
            </li>
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">Register</a>
            </li>
        {{/isEqual}}
        
       
      </ul>
    </div>
  </div>
</nav>