
        <div >
          <!-- Your form goes here -->
          {{#each appointments}}
          <form action="/appointment/create" method="POST" class="fade-in">
            <fieldset>
                <legend>Elegir cita médica</legend>
                <div class="row p-2">
                <div class="form-group col-12">
                    {{!-- FECHA --}}
                    <div class="mb-3">
                        <label for="date" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="date" name="date" value="{{date}}" readonly>
                    </div>    
                    <div class="mb-3">
                        <label for="appointmentTime" class="form-label">Hora</label>
                        <input type="time" class="form-control" name="appointmentTime" id="appointmentTime" value="{{appointmentTime}}" readonly>
                    </div>
                    {{!-- PRECIO --}}
                    <label for="price" class="form-label mt-3">Precio:</label>
                    <input
                    type="text"
                    class="form-control"
                    name="price"
                    id="price"
                    value="{{price}}"
                    required
                    readonly
                    />
                    <div class="invalid-feedback">
                    Debes ingresar el precio
                    </div>
                    
                    <div class="row mt-3">
                        <button type="submit" class="btn btn-primary mt-1 mb-1 w-100">Seleccionar</button>
                </div>
                </div>

            </fieldset>
            </form>

            {{/each}}
        </div>
        