<div class="admin-container d-flex">
    <div class="container mt-5">
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-6 d-flex justify-content-center">
                <div class="card text-white bg-success m-2" style="width: 25rem;">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                      <i class="fa-solid fa-user-doctor fa-10x"></i>
                        <div class="d-flex flex-column justify-content-end align-items-end">
                          <p class="array-number">4</p>
                          <h4 class="card-title">Médicos</h4>
                        </div>
                      </div>
                      <div>
                        <a href="/doctor" class="btn btn-card-dashboard w-100 mt-2">Ver más</a>
                      </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6 d-flex justify-content-center">
                <div class="card text-white bg-danger m-2" style="width: 25rem;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fa-solid fa-hospital-user fa-10x"></i>
                        <div class="d-flex flex-column justify-content-end align-items-end">
                          <p class="array-number">4</p>
                          <h4 class="card-title">Pacientes</h4>
                        </div>
                     </div>
                    <div>
                      <a href="/user" class="btn btn-card-dashboard w-100 mt-2">Ver más</a>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-6 d-flex justify-content-center">
                 <div class="card text-white bg-warning m-2" style="width: 25rem;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fa-solid fa-laptop-medical fa-10x"></i>
                      <div class="d-flex flex-column justify-content-end align-items-end">
                        <p class="array-number">4</p>
                        <h4 class="card-title">Consultas</h4>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="btn btn-card-dashboard w-100 mt-2">Ver más</a>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-6 d-flex justify-content-center">
                <div class="card text-white bg-info m-2" style="width: 25rem;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fa-solid fa-book-medical fa-10x"></i>
                      <div class="d-flex flex-column justify-content-end align-items-end">
                        <p class="array-number ">4</p>
                        <h4 class="card-title">Expedientes</h4>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="btn btn-card-dashboard w-100 mt-2">Ver más</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>