<div class="container">
{{!-- Formulario subir imagen --}}
  {{#ifOr edit data.edit}}
    {{>imageForm}}
  {{/ifOr}}
{{!-- Formulario crear/editar doctor --}}
  {{#ifOr edit data.edit}}
      <form action="/doctor/{{data._id}}?_method=PUT" method="POST" class="fade-in mb-2 pb-3" >
          <input type="hidden" name="_method" value="PUT">
  {{/ifOr}}
  {{#ifOr create data.create}}
      <form action="/doctor/create" method="POST" class="fade-in mb-2 mt-5" >
  {{/ifOr}}
  <fieldset class="p-3">
  {{#ifOr edit data.edit}}
          <legend>Editar Información</legend>
  {{/ifOr}}
  {{#ifOr create data.create}}
          <legend>Crear un Doctor</legend>
  {{/ifOr}}
   {{>createDoctorForm}}
    {{#ifOr edit data.edit}}
      <input type="hidden" name="edit" value="edit">
    {{/ifOr}}
    {{#ifOr create data.create}}
      <input type="hidden" name="create" value="create">
    {{/ifOr}}
  </fieldset>
    <hr />
    <div class="row mt-1">
          <div class="col-md-4">
            <button type="reset" class="btn btn-warning  mb-1 w-100">Resetear</button>
          </div>
        {{#ifOr create data.create}}
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary  mb-1 w-100">Crear</button>
          </div>
          <div class="col-md-4">
            <a href="/doctor" class="btn btn-danger mb-1 w-100">Cancelar</a>
          </div>
        {{/ifOr}}
        {{#ifOr edit data.edit }}
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary mb-1 w-100">Editar</button>
          </div>
          <div class="col-md-4">
            {{#isEqual user.role 'ADMIN_ROLE'}}
              <a href="/doctor" class="btn btn-danger mb-1 w-100">Cancelar</a> 
            {{else}}
              <a href="/profile" class="btn btn-danger mb-1 w-100">Cancelar</a> 
            {{/isEqual}}
          </div>
        {{/ifOr}}
    </div>


  
</form>

</div>