<div class="container">
    <form action="/doctor/create" method="POST" class="fade-in mb-2 mt-5" >
        <fieldset class="p-3">
        <legend>Crear un Doctor</legend>
            {{>createDoctorForm}}
            <input type="hidden" name="create" value="create">
        </fieldset>
        <hr />
        <div class="row mt-1">
            <div class="col-md-4">
                <button type="reset" class="btn btn-warning  mb-1 w-100">Resetear</button>
            </div>
            
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary  mb-1 w-100">Crear</button>
            </div>
            <div class="col-md-4">
                <a href="/doctor" class="btn btn-danger mb-1 w-100">Cancelar</a>
            </div>
        </div>
    </form>
</div>