<div class="containter">
    <h2>{{doctor.firstname}} {{doctor.lastname}}</h2>
    <div class="row">
        <div class="col">
            {{doctor.category}}
            HOLAAAAAAAAAAAAAAAAAAAAAAAA
        </div>
        <div class="col">
            <figure>
                <img src="" alt="">
            </figure>
        </div>
    </div>
</div>