<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 center-form">
      <form action="/auth/login" method="POST" class="fade-in">
        <fieldset>
          <legend class="title-form">Iniciar Sesión</legend>
          <div class="form-group">
            <label
              for="email"
              class="form-label mt-3"
            >Correo:</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              value="{{data.email}}"
            />
          </div>
          <div class="form-group">
            <label
              for="password"
              class="form-label mt-3"
            >Contraseña:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              autocomplete="off"
              name="password"
            />
          </div>
          <button type="submit" class="btn btn-primary mt-3 mb-1 w-100">Ingresar</button>
            <small id="emailHelp" class="form-text text-muted mt-3">No tienes una cuenta? <a href="/auth/register">Registrate</a></small>
            <br />
            <small id="emailHelp" class="form-text text-muted mt-3">Regresar al <a href="/">inicio</a></small>
        </fieldset>
      </form>
    </div>
  </div>
</div>